.leaflet-control-geocoder {
	background: white;
	
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.leaflet-touch .leaflet-control-geocoder {
	box-shadow: none;
	border: 1px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
    line-height: 20px;
}

.leaflet-control-geocoder-form {
	display: inline;
}

.leaflet-control-geocoder-form input, .leaflet-control-geocoder-form ul, .leaflet-control-geocoder-error {
	border: 0;
	color: transparent;
	background: white;
	

}

.leaflet-control-geocoder-form input {
	font-size: 13px;
	margin: 3px;
	height:18px;

}

.leaflet-touch .leaflet-control-geocoder-form input {
	font-size: 13px;
	margin: 2px 1px 2px;
	height:18px;
}

.leaflet-control-geocoder-icon {
	width: 26px;
	height: 26px;
	background-image: url('http://www.cmap.illinois.gov/documents/10180/282106/icon-geoSearch.png');
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	cursor: pointer;
}

.leaflet-touch .leaflet-control-geocoder-icon {
	margin-top: 2px;
	width: 30px;
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
	background-image: url('http://www.cmap.illinois.gov/documents/10180/282106/loader.gif');
}

.leaflet-control-geocoder-expanded input, .leaflet-control-geocoder-error {
	width: 192px;
	margin-left: 4px;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	color: #000;
	border: 1px solid #ddd;
}

.leaflet-control-geocoder-form input:focus {
	outline: none;
}

.leaflet-control-geocoder-form button {
	display: none;
}

.leaflet-control-geocoder-form-no-error {
	display: none;
}

.leaflet-control-geocoder-error {
	margin-top: 8px;
	display: block;
	color: #444;
}

ul.leaflet-control-geocoder-alternatives {
	width: 200px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	list-style: none;
  	padding: 0;
  	transition: height 0.125s ease-in;
}

.leaflet-control-geocoder-alternatives-minimized {
	width: 0 !important;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.leaflet-control-geocoder-alternatives li {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 2px solid #ddd;
	padding: 0;
}


.leaflet-control-geocoder-alternatives li:last-child {
	border-bottom: none;
}

.leaflet-control-geocoder-alternatives a {
	font-size:.85em;
	margin:2px;
	padding:2px;
	display:block;
	color:black;
	background: #fff;
	border-radius:.25em;
	text-decoration:none;	
	white-space:pre-line;
	font-size:.85em;
	vertical-align:center;

}

.leaflet-touch .leaflet-control-geocoder-alternatives a {
	font-size: 18px;
}

.leaflet-control-geocoder-alternatives a:hover, .leaflet-control-geocoder-selected {
	background-color: #ddd;
}
